input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input.centertext {
    text-align: center;
}

td.centertext {
    text-align: center;
}

th.centertext {
    text-align: center;
}